@model RegisterViewModel

<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css/magnific-popup.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/themify-icons.css" rel="stylesheet" />
<link href="~/css/nice-select.css" rel="stylesheet" />
<link href="~/css/flaticon.css" rel="stylesheet" />
<link href="~/css/gijgo.css" rel="stylesheet" />
<link href="~/css/animate.min.css" rel="stylesheet" />
<link href="~/css/slicknav.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/modernizr-3.5.0.min.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollit.js"></script>
    <script src="~/js/jquery.scrollup.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>




    <!--contact js-->


    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>


<link rel="icon" type="image/png" href="~/logincss/favicon.ico"  />


<link href="~/logincss/bootstrap.min.css" rel="stylesheet" />
<link href="~/logincss/font-awesome.min.css" rel="stylesheet" />
<link href="~/logincss/animate.css" rel="stylesheet" />
<link href="~/logincss/hamburgers.min.css" rel="stylesheet" />
<link href="~/logincss/select2.min.css" rel="stylesheet" />
<link href="~/logincss/util.css" rel="stylesheet" />
<link href="~/logincss/main.css" rel="stylesheet" />






<body>
    


	 <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/loginjs/img-01.png" />
            </div>

                <form asp-area=""
                      asp-controller="Account"
                      asp-action="Register"
                      method="post"
                
                class="login100-form validate-form">
                <span class="login100-form-title">
                    Kayıt Ol
                </span>

                <div class="input-container">
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="FirstName">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="LastName">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="UserName">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="RePassword">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            &#10003;
                        </span>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Giriş Yap
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Hesap Oluştur
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



    <script src="~/loginjs/jquery-3.2.1.min.js"></script>
    <script src="~/loginjs/popper.js"></script>
    <script src="~/loginjs/bootstrap.min.js"></script>
    <script src="~/loginjs/select2.min.js"></script>
    <script src="~/loginjs/tilt.jquery.min.js"></script>

	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>